@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bungee+Shade&family=Foldit:wght@100..900&family=Londrina+Outline&family=Merienda:wght@300..900&family=Silkscreen:wght@400;700&family=Sixtyfour&display=swap');

.App {
  text-align: center;
}

body{
  background-color: rgb(194, 184, 181);
  overflow: hidden;
  min-height: fit-content;
}